In [1]:
import pylab
import numpy as np
import pandas as pd
import seaborn as sn
from scipy import stats
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
df = pd.read_csv('../MDAC2/total16and17.csv')

In [30]:
df.head()

,Unnamed: 0,Checks2,Covers2,Gross Revenue2,Profit Center,Day_Open,Month,Year
0,0,2085,0,7455.62,Profit Center Annenberg Cart(305),11,Jan,2016
1,1,14554,0,59371.08,Profit Center CC CBTL(281),27,Jan,2016
2,2,11625,0,52161.07,Profit Center Coffee Bean & Tea Leaf(275),16,Jan,2016
3,3,8969,0,75420.01,Profit Center CPK(286),22,Jan,2016
4,4,415,1181,23116.88,Profit Center Edmondson Faculty Center(296),19,Jan,2016

In [31]:
df = df.drop('Unnamed: 0',axis=1)
df.head()

,Checks2,Covers2,Gross Revenue2,Profit Center,Day_Open,Month,Year
0,2085,0,7455.62,Profit Center Annenberg Cart(305),11,Jan,2016
1,14554,0,59371.08,Profit Center CC CBTL(281),27,Jan,2016
2,11625,0,52161.07,Profit Center Coffee Bean & Tea Leaf(275),16,Jan,2016
3,8969,0,75420.01,Profit Center CPK(286),22,Jan,2016
4,415,1181,23116.88,Profit Center Edmondson Faculty Center(296),19,Jan,2016

In [32]:
df['CustomerCounts'] = np.where((df['Covers2'] >= df['Checks2']),df['Covers2'],df['Checks2'])
df.head()

,Checks2,Covers2,Gross Revenue2,Profit Center,Day_Open,Month,Year,CustomerCounts
0,2085,0,7455.62,Profit Center Annenberg Cart(305),11,Jan,2016,2085
1,14554,0,59371.08,Profit Center CC CBTL(281),27,Jan,2016,14554
2,11625,0,52161.07,Profit Center Coffee Bean & Tea Leaf(275),16,Jan,2016,11625
3,8969,0,75420.01,Profit Center CPK(286),22,Jan,2016,8969
4,415,1181,23116.88,Profit Center Edmondson Faculty Center(296),19,Jan,2016,1181

In [33]:
df = df.drop(['Checks2','Covers2'],axis=1)
df.head()

,Gross Revenue2,Profit Center,Day_Open,Month,Year,CustomerCounts
0,7455.62,Profit Center Annenberg Cart(305),11,Jan,2016,2085
1,59371.08,Profit Center CC CBTL(281),27,Jan,2016,14554
2,52161.07,Profit Center Coffee Bean & Tea Leaf(275),16,Jan,2016,11625
3,75420.01,Profit Center CPK(286),22,Jan,2016,8969
4,23116.88,Profit Center Edmondson Faculty Center(296),19,Jan,2016,1181

In [34]:
df = df.rename(columns = {'Gross Revenue2':'Revenue'})
df.head()

,Revenue,Profit Center,Day_Open,Month,Year,CustomerCounts
0,7455.62,Profit Center Annenberg Cart(305),11,Jan,2016,2085
1,59371.08,Profit Center CC CBTL(281),27,Jan,2016,14554
2,52161.07,Profit Center Coffee Bean & Tea Leaf(275),16,Jan,2016,11625
3,75420.01,Profit Center CPK(286),22,Jan,2016,8969
4,23116.88,Profit Center Edmondson Faculty Center(296),19,Jan,2016,1181

In [35]:
df.dtypes

Revenue           float64
Profit Center      object
Day_Open            int64
Month              object
Year                int64
CustomerCounts      int64
dtype: object

In [36]:
df.Month.unique()

array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'], dtype=object)

In [40]:
# Month to Semester
# Jan, Feb, Mar, Apr --> Spring
# May, Jun, July --> Summer
# Aug, Sep, Oct, Nov --> Fall
# Dec --> Winter
conditions = [
    (df['Month'] == 'Jan'),
    (df['Month'] == 'Feb'),
    (df['Month'] == 'Mar'),
    (df['Month'] == 'Apr'), 
    (df['Month'] == 'May'),
    (df['Month'] == 'Jun'),
    (df['Month'] == 'July'),
    (df['Month'] == 'Dec')] 
choices = ['Spring', 'Spring','Spring','Spring','Summer','Summer','Summer','Winter']
df['Semester'] = np.select(conditions, choices, default='Fall')
df.Semester.unique()

array(['Spring', 'Summer', 'Fall', 'Winter'], dtype=object)

In [43]:
df['Profit Center'].nunique()

38

In [44]:
df['Profit Center'].unique()

array(['Profit Center Annenberg Cart(305)', 'Profit Center CC CBTL(281)',
       'Profit Center Coffee Bean & Tea Leaf(275)',
       'Profit Center CPK(286)',
       'Profit Center Edmondson Faculty Center(296)',
       'Profit Center Einstein Bagels(297)',
       'Profit Center HSC  Marketplace(293)',
       'Profit Center HSC Panda Express(298)',
       'Profit Center HSC Starbucks(299)', 'Profit Center Law School(304)',
       'Profit Center Lemonade(288)', 'Profit Center Literatea(306)',
       'Profit Center Moreton Fig(287)',
       'Profit Center Panda Express(283)', 'Profit Center Popovich(302)',
       'Profit Center Satellite(294)',
       'Profit Center Seeds Marketplace(290)',
       'Profit Center Shop Cafe(303)', 'Profit Center Soto Cafe(307)',
       'Profit Center Starbucks UPC(301)', 'Profit Center The Habit(315)',
       'Profit Center The Lab(274)', 'Profit Center Traditions(289)',
       'Profit Center Tutor Hall Cafe(300)', 'Profit Center URBNMRKT(277)',
       'Profit Center Verde(314)', 'Profit Center W. Annenberg Cafe(318)',
       'Profit Center Baseball(317)', 'Profit Center Fertitta Cafe(384)',
       'Profit Center Cammalleri Cafe(385)',
       'Profit Center University Club(383)',
       'Profit Center Cammilleri Cafe(385)',
       'Profit Center Express Catering(319)',
       'Profit Center HSC Qwench(446)', 'Profit Center Qwench(446)',
       'Profit Center HSC Pharmacy(477)',
       'Profit Center Starbucks Cafe 84(531)',
       'Profit Center Trojan Family Room(594)'], dtype=object)

In [45]:
df

,Revenue,Profit Center,Day_Open,Month,Year,CustomerCounts,Semester
0,7455.62,Profit Center Annenberg Cart(305),11,Jan,2016,2085,Spring
1,59371.08,Profit Center CC CBTL(281),27,Jan,2016,14554,Spring
2,52161.07,Profit Center Coffee Bean & Tea Leaf(275),16,Jan,2016,11625,Spring
3,75420.01,Profit Center CPK(286),22,Jan,2016,8969,Spring
4,23116.88,Profit Center Edmondson Faculty Center(296),19,Jan,2016,1181,Spring
5,29439.26,Profit Center Einstein Bagels(297),21,Jan,2016,4637,Spring
6,42844.19,Profit Center HSC Marketplace(293),19,Jan,2016,6767,Spring
7,53095.12,Profit Center HSC Panda Express(298),19,Jan,2016,7219,Spring
8,47405.68,Profit Center HSC Starbucks(299),19,Jan,2016,9983,Spring
9,22032.10,Profit Center Law School(304),14,Jan,2016,4122,Spring
10,147557.66,Profit Center Lemonade(288),14,Jan,2016,14016,Spring
11,16933.96,Profit Center Literatea(306),19,Jan,2016,3674,Spring
12,92601.38,Profit Center Moreton Fig(287),17,Jan,2016,2562,Spring
13,141457.69,Profit Center Panda Express(283),19,Jan,2016,18841,Spring
14,39632.05,Profit Center Popovich(302),20,Jan,2016,6609,Spring
15,7185.66,Profit Center Satellite(294),14,Jan,2016,1064,Spring
16,414995.85,Profit Center Seeds Marketplace(290),27,Jan,2016,47046,Spring
17,39586.44,Profit Center Shop Cafe(303),14,Jan,2016,6176,Spring
18,29451.64,Profit Center Soto Cafe(307),19,Jan,2016,4747,Spring
19,183143.81,Profit Center Starbucks UPC(301),28,Jan,2016,30366,Spring
20,87357.00,Profit Center The Habit(315),27,Jan,2016,12120,Spring
21,132726.67,Profit Center The Lab(274),26,Jan,2016,4648,Spring
22,34895.23,Profit Center Traditions(289),16,Jan,2016,2347,Spring
23,78974.36,Profit Center Tutor Hall Cafe(300),16,Jan,2016,12800,Spring
24,22824.99,Profit Center URBNMRKT(277),15,Jan,2016,3832,Spring
25,62376.71,Profit Center Verde(314),19,Jan,2016,7516,Spring
26,45308.64,Profit Center W. Annenberg Cafe(318),17,Jan,2016,9367,Spring
27,7455.62,Profit Center Annenberg Cart(305),11,Feb,2016,2085,Spring
28,59371.08,Profit Center CC CBTL(281),27,Feb,2016,14554,Spring
29,52161.07,Profit Center Coffee Bean & Tea Leaf(275),16,Feb,2016,11625,Spring
...,...,...,...,...,...,...,...
697,26310.51,Profit Center CPK(286),11,Dec,2017,2830,Winter
698,31757.56,Profit Center Edmondson Faculty Center(296),18,Dec,2017,1275,Winter
699,34823.10,Profit Center Express Catering(319),11,Dec,2017,209,Winter
700,51209.23,Profit Center Fertitta Cafe(384),10,Dec,2017,2473,Winter
701,31375.39,Profit Center HSC Marketplace(293),16,Dec,2017,4350,Winter
702,35356.41,Profit Center HSC Panda Express(298),16,Dec,2017,4288,Winter
703,535.52,Profit Center HSC Pharmacy(477),9,Dec,2017,201,Winter
704,19286.76,Profit Center HSC Qwench(446),16,Dec,2017,2557,Winter
705,45375.26,Profit Center HSC Starbucks(299),16,Dec,2017,8601,Winter
706,15740.29,Profit Center Law School(304),11,Dec,2017,2404,Winter
707,43731.00,Profit Center Lemonade(288),9,Dec,2017,3638,Winter
708,9107.29,Profit Center Literatea(306),9,Dec,2017,1825,Winter
709,50217.29,Profit Center Moreton Fig(287),10,Dec,2017,1629,Winter
710,65450.42,Profit Center Panda Express(283),11,Dec,2017,7861,Winter
711,29104.39,Profit Center Popovich(302),12,Dec,2017,2256,Winter
712,700.00,Profit Center Satellite(294),2,Dec,2017,2,Winter
713,212559.40,Profit Center Seeds Marketplace(290),25,Dec,2017,20248,Winter
714,16817.29,Profit Center Shop Cafe(303),9,Dec,2017,2029,Winter
715,20539.78,Profit Center Soto Cafe(307),16,Dec,2017,3248,Winter
716,66994.44,Profit Center Starbucks Cafe 84(531),13,Dec,2017,11223,Winter
717,130029.34,Profit Center Starbucks UPC(301),20,Dec,2017,18680,Winter
718,57735.60,Profit Center The Habit(315),20,Dec,2017,7162,Winter
719,145529.20,Profit Center The Lab(274),27,Dec,2017,4262,Winter
720,10620.82,Profit Center Traditions(289),10,Dec,2017,648,Winter
721,1285.94,Profit Center Trojan Family Room(594),9,Dec,2017,203,Winter
722,33522.49,Profit Center Tutor Hall Cafe(300),9,Dec,2017,5116,Winter
723,26740.00,Profit Center University Club(383),12,Dec,2017,1280,Winter
724,27660.10,Profit Center URBNMRKT(277),16,Dec,2017,4555,Winter
725,27610.37,Profit Center Verde(314),13,Dec,2017,3206,Winter
726,17382.71,Profit Center W. Annenberg Cafe(318),9,Dec,2017,3370,Winter

In [47]:
df.to_csv('data_manqi.csv', index=True)

In [48]:
# ç”¨for loopå®žçŽ°
def set_color(row):
    if row["Set"] == "Z":
        return "red"
    elif row["Type"] == "C":
        return "blue"
    else:
        return "green"
# df = df.assign(color=df.apply(set_color, axis=1))